.card1 {
  max-width: 190px;
  margin: .5em auto;
  display: inline-block;
  border-radius: 7px;
  transition: all 150ms linear;
  vertical-align: top;
}

.card3 {
  max-width: 190px;
  margin: .5em auto;
  display: inline-block;
  border-radius: 7px;
  transition: all 150ms linear;
  vertical-align: top;
}

.card3:hover {
  background-color: var(--color-blue);
}

.card3:hover div {
  background-color: var(--color-primary);
}

.card-img {
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

.banner {
  max-width: 100%;
  position: relative;
  min-width: 500px;
}

.banner-text {
  position: absolute;
  top: 15%;
  left: 50px;
  z-index: 5;
  color: var(--color-white);
}

.button-banner {
  right: 50px;
  bottom: 50px;
  position: absolute;
}
